<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TEXAN FAVS IS A GO</title>
</head>
<body>
    {% if latest_question_list %}
      <ul>
          {% for question in latest_question_list %}
          <li><a href="{% url 'polls:details' question.id %}">{{question.question_text}}</a></li>
          {% endfor %}
      </ul>
    {% else %}
      <p> No polls are available.</p>
    {% endif %}
</body>
</html>


